<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Iphone!</title>
</head>

<body>
    <h1>New Iphone!</h1>
    <h3>Insert your mail details</h3>
    <form method="POST" action="http://localhost:8080/api/signInForm">
        <input type="text" name="mail" />
        <input type="submit" value="Send!"/>
    </form>
</body>

</html>